@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: AvenirBold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
  }
  @font-face {
    font-family: AvenirRegular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
  }
  .avenir{
    font-family: "AvenirBold", sans-serif;
  }

  .avenir2{
    font-family: "AvenirRegular", sans-serif;
  }
  .poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  .progress-primary::-webkit-progress-value {
    background-color: #095c46!important;
  }
  .graph-part {
    display: flex;
    width: 100%;
    height: 60px;
    gap: 6px;
    align-items: end;
    margin: 10px 0;
}

.column {
    flex: 1;
    background-color: #d0e4ff;
    transition: all ease-in .1s;
}
.column:hover{
  background-color: #157aff;
  transition: all ease-in .1s;
}